node_modules
.env
.vercel

# Node.js
# Environment Variables
.env

# Ignore all modules for now
src/app/modules/payment/
src/app/modules/vote/



# Optional: logs, build, system files
dist/
.next/
.DS_Store
*.log